Nombre:
{{#if question.isNew}}

  {{input type="Text" value=question.nombre}} <button {{action 'quitar'}}> Quitar </button>
  {{#each question.options as |option|}}
    {{form-option new=true option=option}}
  {{/each}}

{{else}}

  {{question.nombre}}<button {{action 'quitar'}}> Quitar </button>
  {{#each correctOption as |option|}}
    {{form-option new=false option=option}}
  {{/each}}

{{/if}}
<br>
